!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title Error 403 - I only accept AJAX requests
    :css
      html, body {
        background-color: #000;
        color: #fff;
      }
  %body
    %a{:href => 'http://httpstatuscats.com/page/4', :title => 'Error 403 image c/- the HTTP Status Cats blog.'}<
      %img{:src => 'http://25.media.tumblr.com/tumblr_lwjgmsfFs31qzhbl2o4_1280.jpg'}
    %h2 Error 403
    %p I'm sorry but this server only accepts AJAX requests.
