!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title Error 404 - Resource not found
    :css
      html, body {
        background-color: #000;
        color: #fff;
      }
  %body
    %a{:href => 'http://httpstatuscats.com/page/4', :title => 'Error 404 image c/- the HTTP Status Cats blog.'}<
      %img{:src => 'http://25.media.tumblr.com/tumblr_lwjgmsfFs31qzhbl2o5_1280.jpg'}
    %h2 Error 404
    %p The information you requested was not found.
