:javascript
  $(function() {
    $( "#faqs" ).accordion();
  });
%h3 Frequently Asked Questions
#faqs
  %h3< <a href="#">Are Recipes protected by copyright?</a>
  %div
    %p< Copyright law in most countries makes it quite clear that a mere listing of ingredients or contents is not copyrightable. However, if a recipe is described in a way that goes beyond the basics, that description might be protected by copyright. To qualify for copyright protection, a description would have to show some minimal degree of creativity in the prose itself, it does not matter how creative or original the cake might be.
  %h3< <a href="#">Another question here?</a>
  %div
    %p< Some fascinating explanation
  %h3< <a href="#">Another question here?</a>
  %div
    %p< Some fascinating explanation
  %h3< <a href="#">Another question here?</a>
  %div
    %p< Some fascinating explanation
  %h3< <a href="#">Another question here?</a>
  %div
    %p< Some fascinating explanation
  %h3< <a href="#">Another question here?</a>
  %div
    %p< Some fascinating explanation
  %h3< <a href="#">Another question here?</a>
  %div
    %p< Some fascinating explanation
