%h3 Facebook Javascript API tests.
%ul
  %li <a onclick='postToFeed(); return false;'>Post to Feed</a>
  %li <a onclick="sendRequestViaMultiFriendSelector(); return false;">Send Request to Friends</a>
  %li <a onclick="sendAsMessageToFriend(); return false;">Send Message to friends</a>
  %li <a onclick="getPhotosFromFacebook(); return false;">Get Photos from Facebook</a>
%p#msg
:javascript
  function postToFeed() {
    // calling the API ...
    var obj = {
      method: 'feed',
      redirect_uri: '#{request.url}',
      link: '#{request.url}',
      picture: '#{settings.owner_website}images/Open_Recipe_Logo_Square_210x210.png', // get more specific.
      name: 'Open Recipe test',
      caption: 'Testing the Open Recipe server\s interaction with Facebook.',
      description: 'Really I\m just testing the Open Recipe server\s interaction with Facebook Users.'
    };

    function callback(response) {
      console.log("Feed Post Callback got response", response);
      document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
    }

    FB.ui(obj, callback);
  }
  function sendRequestViaMultiFriendSelector() {
    FB.ui({method: 'apprequests',
      message: 'My Great Request',
      caption: 'Testing the Open Recipe server\s interaction with Facebook.'
    }, function(response) {
      console.log("Friend selector response.", response);
    });
  }
  function sendAsMessageToFriend() {
    FB.ui({
      method: 'send',
      name: 'Open Recipe message test',
      caption: 'Testing the Open Recipe server\s interaction with Facebook.',
      link: "#{request.url}",
    });
  }
  // see also https://github.com/cshold/jQuery-Facebook-Photo-Selector
  function getPhotosFromFacebook() {
    FB.api('/me/albums?fields=id,name', function(response) {
      for (var i=0; i<response.data.length; i++) {
        var album = response.data[i];
        if (album.name == 'Profile Pictures'){
          FB.api('/'+album.id+'/photos', function(photos){
            if (photos && photos.data && photos.data.length){
              for (var j=0; j<photos.data.length; j++){
                var photo = photos.data[j];
                // photo.picture contain the link to picture
                var image = document.createElement('img');
                image.src = photo.picture;
                document.body.appendChild(image);
              }
            }
          });
          break;
        }
      }
    });
  }
  