=session['fb_error']
-if logged_in
  %a{:href => 'logout'}
    %img{:src => 'images/fb_logout_button.png'}
-else
  %a{:href=>'auth/facebook'}
    %img{:src => 'images/fb_login_button.png'}
%h3 #{session['fb_auth'] ? 'Hello ' + session['fb_auth']['user_info']['first_name'] + ', w' : 'W'}elcome to my list of interesting articles.
%table
  %tr
    %th Article
    %th Facebook
  -if @articles == nil || @articles.empty?
    No articles. Sorry.
  -else
    -for article in @articles.each do
      %tr
        %td{:class=>'article'}
          %a{:href=>"#{article[:url]}", :target=>'_blank'}
            #{article[:title]}
        %td
          -if logged_in
            %iframe{:src => "http://www.facebook.com/plugins/like.php?href=#{article[:url]}&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=21",
                    :scrolling => "no",
                    :frameborder => "0",
                    :style => "border:none; overflow:hidden; width:450px; height:21px;",
                    :allowTransparency => "true"}
          -else
            Not Linked
-if logged_in
  %hr
  %p{:class=>'like_site'} Do you like this site?
  %p
    %iframe{:src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fopen-recipe.herokuapp.com%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80",
            :scrolling => "no",
            :frameborder => "0",
            :style => "border:none; overflow:hidden; width:450px; height:80px;",
            :allowTransparency => "true"}
