-if !logged_in?
  %div.ui-widget{:style => 'width:75%;margin-top:1.5em; margin-left:auto; margin-right:auto;'}
    %div.ui-state-error.ui-corner-all{:style => 'padding: .7em; font-size:1.2em;'}
      %p<
        %span.ui-icon.ui-icon-alert{:style => 'float: left; margin-right: .3em'}
        %strong< Alert. You are not logged in.
      %p<
        You will need to <a href="/login">log in via facebook</a> and authorise us so we may
        access the data we need to operate this site for you.
      %p<
        Please see our
        %a{:href => '/privacy', :title => "Privacy Policy"}Privacy Policy
        for more details concerning the information we pull from Facebook and how we use it.
-else
  %h2 Hello #{active_user.first_name}, welcome to Open Recipe.
  #recipes
    %ul
      %li<
        %a{:href => '#my-recipes'}< My Recipes
      %li<
        %a{:href => '#my-favourite-recipes'}< Favourites
    #my-recipes
      - if active_user.recipes.empty?
        %p< You have not added any recipes yet.
        %button#add-recipe< Add a recipe.
      - else
        %p< Here's where we list all your personal recipes.
    #my-favourite-recipes
      - if active_user.favourite_recipes.empty?
        %p< You have not favourited any recipes yet.
      - else
        %p< Here's where we list all your favourite recipes.
  #new-recipe
    %form
      %label(for = 'recipe-name')< Recipe Name:
      %input#recipe-name.ui-corner-all(placeholder = 'What do you call your recipe?')
      / %label.ui-state-disabled(for = "meal")< Meal Name:
      / %input#meal.ui-corner-all.ui-state-disabled{:disabled => 'disabled', :placeholder => 'not set'}
      %label(for='description')< Description:
      %textarea#description.ui-corner-all
      %label(for='cooking-time')< Cooking Time:
      %input#cooking-time-days.ui-corner-all{:style=>'width:2em;margin-right:1em;', :placeholder => 'dd'}
      %input#cooking-time-hours.ui-corner-all{:style=>'width:2em;margin-right:1em;', :placeholder => 'hh'}
      %input#cooking-time-minutes.ui-corner-all{:style=>'width:2em;', :placeholder => 'mm'}
      %label(for='prep-time')< Preparation Time:
      %input#prep-time-days.ui-corner-all{:style=>'width:2em;margin-right:1em;', :placeholder => 'dd'}
      %input#prep-time-hours.ui-corner-all{:style=>'width:2em;margin-right:1em;', :placeholder => 'hh'}
      %input#prep-time-minutes.ui-corner-all{:style=>'width:2em;', :placeholder => 'mm'}
      %label(for='requirements')< Requirements
      %textarea#requirements.ui-corner-all
      %label(for='ingredients')< Ingredients
      %table#ingredients
        %thead
          %tr
            %th(colspan=2)< Ingredient Name
            %th< Amount
            %th< Unit
        %tbody
      %label(for='method')< Method
      %textarea#method.ui-corner-all
  :javascript
    // move this to an external file when happy with it.
    function convert_to_options_html(a_map_of_options) {
      result = '';
      group_count = 0;
      for (i in a_map_of_options) {
        io = a_map_of_options[i];
        if (io['kind'] == 'option') {
          result += '<option value = "' + io['value'] + '">' + io['label'] + '</option>';
        } else {
          if (group_count > 0) {
            result += '</optgroup>';
            group_count--;
          }
          result += '<optgroup label = "' + io['label'] + '">';
          group_count++;
        }
      };
      if (group_count > 0) {
        result += '</optgroup>';
        group_count--;
      }
      return result;
    };
    
    function create_blank_ingredients_row(a_row_number) {
      return "<tr><td><input class='ingredient ui-corner-all' id='ingredient" + a_row_number + "'></td>" +
               "<td><select class='prep-menu' id='prep" + a_row_number + "'></select></td>" +
               "<td><input class='amount ui-corner-all' id='amount" + a_row_number + "'></td>" +
               "<td><select class='unit-menu' id='unit" + a_row_number + "'></select></td></tr>";
    };

    $(function() {
      // first turn on the tabs.
      $('#recipes').tabs();
      // next set up five ingredient rows, with appropriate menus and autocomplete handlers
      for (i = 0; i < 5; i++) {
        var i_row = create_blank_ingredients_row(i)
        // console.log(i_row);
        $(i_row).appendTo('#ingredients tbody');
      }
      var preparation_options = #{preparations};
      var allowed_unit_options = #{allowed_units};
      var all_ingredient_names = #{ingredient_names}
      var default_preparation_options = convert_to_options_html(preparation_options);
      var default_allowed_unit_options = convert_to_options_html(allowed_unit_options);
      $(default_preparation_options).appendTo('#ingredients .prep-menu');
      $(default_allowed_unit_options).appendTo('#ingredients .unit-menu');
      var ingredient_name_autocompleter = {
        source: all_ingredient_names,
        change: function(){
          var this_row = $(this).parent().parent();
          console.log("this row is one of", this_row.siblings('tr').length + 1);
          if (this_row.is(':last-child')) {
            // add another row.
            var new_row_number = this_row.siblings('tr').length + 1;
            $(create_blank_ingredients_row(new_row_number)).appendTo(this_row.parent());
            var new_row = this_row.next();
            $(default_preparation_options).appendTo(new_row.find('.prep-menu'));
            $(default_allowed_unit_options).appendTo(new_row.find('.unit-menu'));
            new_row.find('.ingredient').autocomplete(ingredient_name_autocompleter);
            console.log("created new row",new_row);
          }
        }
      };
      $('#ingredients .ingredient').autocomplete(ingredient_name_autocompleter);
      // now make the new-recipe form only appear within a modal dialog.
      $('#new-recipe').dialog({
        title: 'Add a new Recipe',
        autoOpen: false,
        height: 750,
        width: 750,
        modal: true,
        buttons: {
          "Choose a Photo" : function () {
            console.log('choose a recipe photo from your facebook photos.');  // enhance this later
            // see example at http://code.google.com/p/facebook-photo-picker/
            // and a jQuery one at https://github.com/seanhellwig/jQuery-Facebook-Multi-Photo-Selector
          },
          "Preview" : function () {
            console.log('preview recipe');  // enhance this later
          },
          "Create Recipe" : function () {
            console.log("saving recipe.");
            // go through the form and collect all the fields into a
            // recipe object.
            var ingredients = new Array();
            var number_of_ingredients = $('#ingredients .ingredient').length
            for (i = 0; i < number_of_ingredients ; i++ ) {
              var n = $('#ingredient'+i).val();
              var p = $('#prep'+i).val();
              var a = $('#amount'+i).val();
              var u = $('#unit'+i).val();
              if (n != '') {
                q = new Quantity(a, u);
                ingredients.push(new ActiveIngredient(n,p,q));
              }
            }
            // merge cooking and prep time fields into a nice time string
            // in dd:hh:mm format
            ct = $('#cooking-time-days').val() + ':' + $('#cooking-time-hours').val() + ':' + $('#cooking-time-minutes').val();
            pt = $('#prep-time-days').val() + ':' + $('#prep-time-hours').val() + ':' + $('#prep-time-minutes').val();
            r = new Recipe(0, $('#recipe-name').val(), ct, pt, $('#description').val(),
                $('#method').val(), $('#requirements').val(), ingredients, null, null); // ignore tags and meal for now.
            req = new Recipe_Request(r);
            console.log('created recipe request object', req);
            
            // now fire off an AJAX post to the server.
            $.post(req.post_path(), req.post_data(), function(data){
              console.log('debug', data)
              if (!data['success']) {
                // there was an error.
                console.log('error', data['error']);
                // do something to tell the user about this error.
              } else {
                // there is a message
                console.log('message', data['message']);
                // perhaps do something with this message.
              }
            }).error(function() {
                alert('Request failed due to a server error.');
            });
            // then close the dialog.
            $(this).dialog("close");
          },
          "Cancel" : function () {
            $(this).dialog("close");
          }
        },
        close: function () {
          // do something on close if needs be.
          // ie choose friends to share this recipe with
          // or post to your timeline.
        }
      });
      $('#add-recipe').button({icons: {primary:'ui-icon-circle-plus'}}).click(function() {
        $("#new-recipe").dialog("open");
      });
    });
  :css
    #new-recipe label {
      clear: left;
      float: left;
      width: 120px;
      font-weight: bold;
    }
    #new-recipe input, textarea {
      float: left;
      width: 550px;
      margin-bottom: .5em;
    }
    #new-recipe textarea {
      height: 200px;
    }
    #new-recipe table {
      width: 550px;
    }
    #new-recipe td {
      vertical-align:top;
    }
    #new-recipe td input.ingredient {
      width:20em;
    }
    #new-recipe td input.amount {
      width:4em;
    }
    #new-recipe td select {
      width:8em;
    }
    #new-recipe th {
      text-align:left;
    }