-if !logged_in?
  %div.ui-widget{:style => 'width:75%;margin-top:1.5em; margin-left:auto; margin-right:auto;'}
    %div.ui-state-error.ui-corner-all{:style => 'padding: .7em; font-size:1.2em;'}
      %p<
        %span.ui-icon.ui-icon-alert{:style => 'float: left; margin-right: .3em'}
        %strong< Alert. You are not logged in.
      %p<
        You will need to <a href="/login">log in via facebook</a> and authorise us so we may
        access the data we need to operate this site for you.
      %p<
        Please see our
        %a{:href => '/privacy', :title => "Privacy Policy"}Privacy Policy
        for more details concerning the information we pull from Facebook and how we use it.
-else
  %h2 Hello #{active_user.first_name}, welcome to Open Recipe.
  #recipes
    %ul
      %li<
        %a{:href => '#my-recipes'}< My Recipes
      %li<
        %a{:href => '#my-favourite-recipes'}< Favourites
    #my-recipes
      - if active_user.recipes.empty?
        %p< You have not added any recipes yet.
      - else
        %p< Here's where we list all your personal recipes.
    #my-favourite-recipes
      - if active_user.favourite_recipes.empty?
        %p< You have not favourited any recipes yet.
      - else
        %p< Here's where we list all your favourite recipes.
  :javascript
    $(function() {
      $('#recipes').tabs();
    });
