%h3 Privacy Policy.
%p Open Recipe values your privacy and is designed to conform with Facebook's own strict privacy provisions for apps.
%p For our application to function at all we must use data that we pull from Facbook about your friends, your photos, and so forth.
You authorise us to do this soley for the purposes of providing our services to you, and we promise not to use
your data for any other purpose. By letting us post to your wall, you trust us to post stuff you want us to post, and
not any old crap.
%p I suppose we'll have to replace this page with some formal legalese.
%p But this basically sets out what we promise to be good, to use proper encryption, and to return to you the most use
we can given the data you entrust us with.
