%h3 Your Privacy.
%p Open Recipe values your privacy and is designed to conform with Facebook's own strict privacy provisions for apps.
%p For our application to function at all we must use data that we pull from Facbook about your friends, your photos, and so forth.
You authorise us to do this solely for the purposes of providing our services to you, and we promise not to use
your data for any other purpose. By letting us post to your wall, you trust us to post stuff you want us to post, and
not any old crap.
%h4 Specifics of the Data we access, and why we access it.
%ul
  %li read_friendlists: We use this information to determine which of your friends also use Open Recipe. We enable you to share recipes with your friends because you have granted us this permission.
  %li publish_stream: We use this right to post short notices to your timeline, as you, with words provided by you to link recipes, photos, and places to your wall.  Note that such posting is always done under your control.
  %li email: We can access your email addresses, and do so to enable you to email recipes to people from yourself. We won't spam you or sell your email to spammers.
  %li user_location: We can access your current location, usually to the suburb level, but sometimes, if you check in, to specific places. We use this information to allow you to link photos, meals, and recipes to restaurants, and retailers.
  %li user_likes: By giving us this permission we have access to the list of everything you've liked. By cross-checking that with places and photos, and recipes, we can develop highly personalised instructions for how to make meals using local ingredients bought from places you like.
  %li user_checkins: By letting us know where you are checking in to, we can let you associate recipes and ingredients with restaurants and retailers.
  %li user_photos: By giving us access to your photos, you let us associate photos with meals, ingredients, and recipes, as well as places and people.
%h3 Legalese
%p I suppose we'll have to replace this page with some formal legalese.
%p But this basically sets out what we promise to be good, to use proper encryption, and to return to you the most use we can given the data you entrust us with.
%p This page was last modified 27 August 2012.
