%h2< Recipe &#8220;#{Unicode::capitalize(recipe.name)}&#8221;
#recipe
  %dl
    %dt< Serves:
    %dd<= t.people(recipe.serves)
    %dt< Description:
    %dd<~ recipe.description
    %dt< Preparation Time:
    %dd<= human_readable_time(recipe.preparation_time)
    %dt< Cooking Time:
    %dd<= human_readable_time(recipe.cooking_time)
    %dt< Requirements:
    %dd<~ recipe.requirements
    %dt< Ingredients:
    %dd<
      %ul<
        -for i in recipe.active_ingredients
          -if i.quantity != nil
            - q = human_readable_quantity i.quantity
            %li< #{UnicodeUtils::titlecase(i.ingredient.name)} #{q == '' ? '' : ': ' << q}
          -else
            %li<= UnicodeUtils::titlecase(i.ingredient.name)
    %dt< Method:
    %dd<~ recipe.method
%button#change-recipe<= UnicodeUtils::titlecase(t.ui.edit_this_recipe)
:javascript
  $(function() {
    $('#change-recipe').button({icons: {primary:'ui-icon-gear'}}).click(function() {
      location.href = "/edit-recipe/#{recipe.id}"
    });
  });
