%h3 Terms of Service.
%p Open Recipe aims to provide to you a singularly awesome system for sharing, and discovering favourite recipes old and new, amongst your friends in Facebook.
%p By using the Open Recipe app you agree the following.
%ol
  %li You will not use this app to commit a crime of any kind, in any jurisdiction, or to attempt to commit a crime.
  %li Photos you upload to Open Recipe must be your ow original works and meet Facebook's overall standards for what comprises an appropriate photograph to share on a social network.
  %li Recipes you enter into the system must be your own personal recipes and you can't just go uploading your favourite recipes from magazines and books.
  %li Other things our lawyers make us put here.
%p We don't warrant Open Recipe as being secure, nor fit for any particular service, and stress that is serves mostly an entertainment service rather than a bibliographical service.
%P Other stuff the lawyers might want.
