/* 
   css Copyright © 2005-2012 Dave Sag. All rights reserved.
   
   basic colour scheme is gray and red.
   
   gray = #646463
   darker gray = #333333 (for text)
   red = #B31528
   lighter red = #e3a1a1
   corner radius = 6px
   border colour = #eeeeee
   page background = #ffffff
   dark blue = #004276 (used for clickable text and highlight icon)
   clickable text border = #d8dcdf
   hover background = #f6f6f6
   hover text = #111111
   hover border = #cdd5da
   highlight text = #444444
   highlight border = #fcd3a1
   error text = #2e2e2e
   
   headers: font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
   
*/

* { 
	margin:0px;
	padding:0px;
}

body {
	font-family: Georgia, Palatino, Times, "Times New Roman", serif;
	font-size: 76%; /* as recommended in CSS guide */
	color:#333333;
	word-wrap:break-word;
	line-height:1.6;
	background: #f7f7f7 url(../images/background_shader.png) top left repeat-x;	
}

a, a:active {
	color:##646463;
}

a:hover {
	color:#999999;
}


/* these are HTML 5 equivs for webkit and mozilla. */
::-webkit-input-placeholder  { color:#646463; }
::-webkit-input-placeholder  { color:#646463; }
input:-moz-placeholder { color:#646463; }
textarea:focus:-moz-placeholder { color:#646463; }

/* Inline iframes need to display as a block to layout correctly */
.graphic iframe { display:block; }

.nowrap {
	white-space: nowrap;
}

.recipe-info {
	margin-bottom:1em;
}
 
/* Keep tables with long content from pushing too far over */
table { word-break: break-all; }

textarea {
    resize: vertical;
}

img {
	border:0px #000 none;
}

.recipe p {
	margin-bottom: 0.8em;
}

#title {
	overflow: hidden;
	position: relative;
	height: 157px;  /* matches logo size */
	text-align: left;
	color: #646463;
}

#title img.logo {
	float: right;
	margin: 0px 0px 0px 0px;
}

#page {
	width: 99%;
	margin: 0px auto 0px auto;
	padding: 5px;
	background: #fff;
}

#page-bottom {
	clear: both;
	margin-top:12px;
	padding: 1px 1em;
	line-height:1.4em;
	background: #646463;
	color: #ffffff;
	text-align: left;	
}

.logout a { color: #2554C7; font-size: 15px; }
.recipe { font-size: 0.9em; }
.like_site { font-size: 0.8em }

#tag-cloud {
  clear:both;
  background: #fff;
}

#tag-cloud ul {
	margin: 0px;
	display: inline;
	list-style: none;
}

#tag-cloud ul li {
	padding-right:5px;
	display: inline;
}

#tag-cloud a.tag {
	text-decoration: none;
	line-height: 1.6em;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #004276;
}

#tag-cloud a.tag:hover {
	text-decoration: none;
	background: #f6f6f6;
	color: #111111;
}

#tag-cloud span.tag-count {
	line-height: 1em;
	font-size: 0.8em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #7A7A7A;
}

#header-information {
  float: left;
  text-align: left;
}

#search-form {
  font-size: 0.9em;
}

#search-field {
	font-weight: lighter;
}

.edit-or-create-recipe label {
  clear: left;
  float: left;
  width: 120px;
  font-weight: bold;
}
.edit-or-create-recipe input, textarea {
  float: left;
  width: 550px;
  margin-bottom: .5em;
}
.edit-or-create-recipe textarea {
  height: 200px;
}
.edit-or-create-recipe table {
  width: 550px;
}
.edit-or-create-recipe td {
  vertical-align:top;
}
.edit-or-create-recipe td input.ingredient {
  width:26em;
}
.edit-or-create-recipe td input.amount {
  width:4em;
}
.edit-or-create-recipe td select {
  width:8em;
}
.edit-or-create-recipe th {
  text-align:left;
}

/* jQuery UI overrides */
.ui-autocomplete-loading {
  background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat;
}

#nav-bar {
  position: absolute;
  left:0;
  bottom: 0;
}

#nav-bar.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding: .5em 1em !important;}

tbody tr:hover {
  font-weight: bolder;
  cursor: pointer;
}
